* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
/* Smooth Scroll */
html {
scroll-behavior: smooth;
}
body {
font-family: Arial, Helvetica, sans-serif;
background-color: #f4f6f9;
animation: fadeInPage 1.2s ease-in-out;
}
/* Fade In */
@keyframes fadeInPage {
from { opacity: 0; }
to { opacity: 1; }
}
/* Header */
header {
background: #003366;
color: white;
padding: 20px;
text-align: center;
animation: slideDown 1s ease-in-out;
}
@keyframes slideDown {
from { transform: translateY(-50px); opacity: 0; }
to { transform: translateY(0); opacity: 1; }
}
/* Navigation */
nav {
background: #0055aa;
padding: 10px;
text-align: center;
}
nav a {
color: white;
text-decoration: none;
margin: 0 15px;
font-weight: bold;
position: relative;
transition: 0.3s;
}
nav a::after {
content: "";
position: absolute;
width: 0%;
height: 3px;
left: 0;
bottom:-5px;
background: yellow;
transition: 0.3s;
}
nav a:hover::after {
width: 100%;
}
/* Image */
.main-image {
display: block;
margin: 20px auto;
width: 90%;
max-width: 1000px;
border-radius: 10px;
transition: transform 0.5s ease;
}
.main-image:hover {
transform: scale(1.05);
}
/* Section */
section {
padding: 20px;
text-align: center;
}
h2 {
color: #003366;
margin-bottom: 15px;
}
/* Tables */
table {
width: 80%;
margin: 20px auto;
border-collapse: collapse;
background: white;
}
th, td {
border: 1px solid #333;
padding: 10px;
}
th {
background: #003366;
color: white;
}
tr:nth-child(even) {
background: #f2f2f2;
}
table tr:hover {
background-color: #dbe9ff;
transition: 0.3s;
}
/* Form */
form {
width: 50%;
margin: 30px auto;
background: white;
padding: 20px;
border-radius: 10px;
box-shadow: 0 4px 10px rgba(0,0,0,0.1);
animation: slideUp 1s ease-in-out;
}
@keyframes slideUp {
from { transform: translateY(50px); opacity: 0; }
to { transform: translateY(0); opacity: 1; }
}
input, select, textarea {
width: 100%;
padding: 8px;
margin: 8px 0;
}
input[type="submit"] {
background: #003366;
color: white;
border: none;
cursor: pointer;
transition: 0.3s;
}
input[type="submit"]:hover {
background: #0055aa;
box-shadow: 0 0 15px #0055aa;
transform: scale(1.05);
}
/* Footer */
footer {
background: #003366;
color: white;
text-align: center;
padding: 15px;
margin-top: 20px;
}
